<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Regist Form</title>
</head>
<body>
<h3>Student Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last name: <input type="text" th:field="*{lastName}" />
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>
    <br><br>
    <input type="radio" th:field="*{programLanguage}" th:each="tempLanguage : ${languages}"
           th:value="${tempLanguage}" th:text="${tempLanguage}" />
    <br><br>
    <input type="checkbox" th:field="*{operatingSystem}" th:each="tempSystem : ${operatingSystem}"
           th:value="${tempSystem}" th:text="${tempSystem}" />
    <br><br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>